
<footer class="text-center">
  <div class="footer-below">
      <p class="text-center">Copyright ©2017 美食家园
          <br>Design by
          <a href="http://cl-lavender-blog.logdown.com" target=_new>linchen</a>
      </p>
  </div>
</footer>
